<div class="container form-container p-4 rounded-3">
  <h2 class="form-title mb-4 fs-1 text-center">LOGIN</h2>
  <form action="">
    <div class="mb-3">
      <label for="login-email" class="form-label">Email</label>
      <div>
        <input type="text" class="form-control" id="login-email" required aria-label="Email">
      </div>
      <div class="email-hint"></div>
    </div>
    <div class="mb-3">
      <label for="login-password" class="form-label">Password</label>
      <div>
        <input type="password" class="form-control" id="login-password" required aria-label="Password">
      </div>
      <div class="password-hint"></div>
    </div>
    <div class="text-end mb-3">
      <input type="submit" value="Login" class="submit--btn btn text-white px-4 py-2">
    </div>

  </form>
  <div class="text-center text-muted">
    You don't have account
    <a href="#" class="signup--link">Sign up</a>
  </div>

</div>
